@model WebApplication23.Models.EventModel
@{
    ViewBag.Title = "Tabela";
}

<h2>Tabela</h2>

<ul>
    @{
        int i = 0;

        foreach (var model in Model.)
        {
          
            <li>  <a href="ShowClient/@i">@client.Name,@client.ClenskaKarta</a></li>
            i++;
        }
    }
</ul>