@model WebApplication25.Models.Client
@{
    ViewBag.Title = "ShowClient";
}
@{ if (Model.Age < 18)
    {
        <h2 style="color:red">Mali ste</h2>
    }
    else
    {
        <h2>@Model.Address</h2>
        <h2>@Model.Name</h2>
        <h2>@Model.Age</h2>

    }
}


