@model WebApplication30.Models.ClientMovie
@{
    ViewBag.Title = "InsertNewMovie";
}

<h2>InsertNewMovie</h2>
@using (Html.BeginForm("InsertClientMovie","Movies"))
    <div>
        @Html.DropDownListFor(m => m.ClientId, new SelectList(Model.clients,"Id","Name"))

        @Html.HiddenFor(m => m.MovieId)
        
    </div>
    <div>
        <button type="submit">Add client to movie!</button>
    </div>

