@model List<ucam.Models.EventModel>

@{
    ViewBag.Title = "ShowEvent";
}

<h2>ShowEvent</h2>
<table class="table-bordered">
    <tr>
        <td><h3>ID</h3></td>
        <td><h3>Name</h3></td>
        <td><h3>Location</h3></td>
    </tr>
    @{
        int i = 0;
        foreach (var nastan in Model)
        {
        <tr>
            <td>@nastan.Id</td>
            <td>@nastan.Ime</td>
            <td>@nastan.Lokacija</td>
            <td><a href="EditEvent/@i">Edit</a></td>
            <td><a href="DeleteEvent/@i">Delete</a></td>
            
        </tr>
            i++;
        }
    }
</table>
