@model List<WebApplication26.Models.Movie>
@{
    ViewBag.Title = "GetAllMovies";
}

<h2>All Movies</h2>
<ul>
    @{ 
        int i = 0;
        foreach(var movie in Model)
        {
                <li>
                    <img src="@movie.ImageUrl" style="max-width:100px;"/>
                    @Html.ActionLink(movie.Name,"ShowMovie",new {id = i})
                    @Html.ActionLink("Edit","EditMovie",new {id = i})
                    @Html.ActionLink("Delete","DeleteMovie",new {id = i})

                </li>
            i++; 
        }
    }
</ul>


