@model List<WebApplication23.Models.EventModel>
@{
    ViewBag.Title = "Random";
}

<h2>Nastani</h2>

<table class="table-bordered">

    
        <tr>
            <td><h3>ID</h3></td>
            <td><h3>Name</h3></td>
            <td><h3>Location</h3></td>
        </tr>
    @{ 

        foreach (var nastan in Model)
        {
            <tr>
            <td>@nastan.Id</td>
            <td>@nastan.Ime</td>
            <td>@nastan.Lokacija</td>
            </tr>
            }

        }
    </table>

    





